{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ title }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form action="{{ url_for('blog.update', id=id) }}" method="post">
    {{ form.hidden_tag() }}
    {{ form.title.label }}
    {{ form.title }}
    {{ form.body.label }}
    {{ form.body }}
    {{ form.submit }}

  </form>
  <hr>
  <form action="{{ url_for('blog.delete', id=id) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}
